<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
    data-accordion="false">

    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
                Anasayfa
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-certificate"></i>
            <p>
                Ürün
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ürün Ekle</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ürünler Listesi</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-bookmark"></i>
            <p>
                Kategori
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'new_category' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Kategori Ekle</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'categories' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Kategori Listesi</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
                Müşteri
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Müşteri Listesi</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Simple Link
                <span class="right badge badge-danger">New</span>
            </p>
        </a>
    </li>


    <li class="nav-item">
        <a href="{% url 'signout' %}" class="nav-link">
            <i class="nav-icon fas fa-ban"></i>
            <p>Çıkış</p>
        </a>
    </li>

    <li class="nav-header">&nbsp;</li>

    <li class="nav-item">
        <a href="#" class="btn btn-primary btn-block">
            Ayarlar
        </a>
    </li>

</ul>